.registration-form {
    max-width: 300px;
    margin: auto;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  @media (max-width: 768px) {
    .registration-form {
    width: 80%;
    padding: 2% 0;
    margin:1% 0;
    }
  }
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    input{
    width: 80%;
   padding: 2%;
   margin: 2%;
    }
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  button {
   
    width: 100%;
    // padding: 1%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 21px;
    // justify-content: center;
    
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .email, .password {
    color:#303030;
  }
  p{
    text-align: center;
  }
  .googleImg{
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    float:left;
  }
  